<footer class="grid grid-cols-4 grid-rows-1 justify-between p-8 bg-caractere text-white leading-8">
	<div class="flex gap-4">
		<a href="/fr" class="">
			<img src="https://visitmarche.be/wp-content/themes/visitmarche/assets/tartine/rsc/img/img_logo.png"
				 alt="logo visit" class="w-20 h-12"/>
		</a>
		<a href="https://www.marche.be" class=""
		   title="template: /home/visitmp/www/wp-content/themes/visitmarche/homepage.php">
			<img src="https://visitmarche.be/wp-content/themes/visitmarche/assets/tartine/rsc/img/img_logo_marche.png"
				 alt="logo ville" class="w-20 h-12"/>
		</a>
	</div>
	<div class="border-l border-borderjf pl-3">
		<h6 class="font-bold">Menu</h6>
		<ul class="flex flex-col text-xs leading-8">
			<li class="underlineGrey" title="">
				<a href="https://visitmarche.be/fr/categorie/inspirations/">Inspirations</a>
			</li>
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/sorganiser/">S'organiser</a>
			</li>
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/agenda/">Agenda</a>
			</li>
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/pratique/">Pratique</a>
			</li>
		</ul>
	</div>
	<div class="border-l border-borderjf pl-3">
		<h6 class="font-bold">Découvrez</h6>
		<ul class="text-xs leading-8">
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/patrimoine/">Patrimoine</a>
			</li>
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/arts/">Arts</a>
			</li>
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/balades/">Balades</a>
			</li>
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/gourmandises/">Gourmandises</a>
			</li>
			<li class="underlineGrey">
				<a href="https://visitmarche.be/fr/categorie/fetes/">Fêtes</a>
			</li>
		</ul>
	</div>
	<div class="border-l border-borderjf pl-3">
		<h6 class="font-bold">Contact</h6>
		<ul class="flex-col text-xs leading-8">
			<li>Office Communal du Tourisme : <a href="tel:+3284326946">+32(0)84 32 69 46</a></li>
			<li>Du lundi au jeudi : de 8h à 12h et de 13h à 17h</li>
			<li>Vendredi : de 8h à 12h et de 13h à 15h</li>
		</ul>
		{% include '@VisitTail/_social_footer.html.twig' %}
	</div>

	<div class="row-start-2 col-span-full justify-self-end flex text-xs">
		<a href="/fr/politique-de-confidentialite" class="underline">Vie privée</a>
		<a href="/fr/politique-de-confidentialite" class="underline">Mentions légales</a>
		<div class=""><span class=""> - </span>Copyright © 2021<span class=""> - </span>Ville de Marche-en-Famenne<span
					class="">. </span> Tous droits réservés
		</div>
	</div>
</footer>
