<header class="flex justify-start items-center w-full p-3 bg-gray-800 bg-opacity-60 p-4 text-white">
	<a href="#">
		<img class="w-24" src="https://visitmarche.be/wp-content/themes/visitmarche/assets/tartine/rsc/img/img_logo.png" alt="logo">
	</a>
	{% include '@VisitTail/header/_navigation.html.twig' %}
	{% include '@VisitTail/header/_search.html.twig' %}
	{% include '@VisitTail/header/_languages.html.twig' %}
	{% include '@VisitTail/header/_icones_sociaux.html.twig' %}
</header>
