<div class="container min-h-screen grid grid-rows-[auto,1fr,auto]"></div>
<div class="container grid sm:grid-cols-2 md:grid-cols-3 gap-8">
	gallery
</div>

<!--sidebar-->
<div class="container min-h-screen grid grid-cols-[22rem,1fr] grid-rows-[auto,1fr,auto]">
	<header class="col-span-full"></header>
	<footer class="col-span-full"></footer>
</div>

<div class="container grid grid-cols-[repeat(auto-fill,minmax(16rem,1fr))] gap-8">
	<div class="item">
		<img src="https://picsum.photos/400/300" alt=""/>
		<div>
			<h2>Blog title 1</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo assumenda porro inventore repellendus ipsum.</p>
			<a href="#">Read more</a>
		</div>
	</div>
</div>
