<div class="flex h-8">
	<a class="icon inline-flex justify-center items-center" href="#" title="Page Facebook">
		<i class="text-sm fa fa-facebook"></i>
	</a>
	<a class="icon inline-flex justify-center items-center" href="#" title="Page Instagram">
		<i class="text-sm fa fa-instagram"></i>
	</a>
	<a class="icon inline-flex justify-center items-center" href="#" title="Page Youtube">
		<i class="text-sm fa fa-youtube-play"></i>
	</a>
</div>
