<div class="flex px-7 font-medium text-lg h-8 relative group">
	<a href="#" class="text-white inline-flex items-center">FR
		<svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg"
			 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
			<path fill-rule="evenodd"
				  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
				  clip-rule="evenodd"/>
		</svg>
	</a>
	<ul class="invisible bg-white text-black h-20 absolute top-7 w-12 px-4 flex flex-col justify-center items-center group-hover:visible transition-all duration-500 ease-in-out">
		<li class="hover:text-cta-light fillPink">
			<a href="#">FR</a>
		</li>
		<li class="hover:text-cta-light fillPink">
			<a href="#">NL</a>
		</li>
		<li class="hover:text-cta-light fillPink">
			<a href="#">EN</a>
		</li>
	</ul>
</div>
