<div class="flex px-7 font-medium text-xl h-8 relative group">
	<a href="#" class="text-white">FR</a>
	<ul class="invisible bg-white text-black h-20 absolute top-7 w-8 flex flex-col justify-center items-center group-hover:visible transition-all duration-500 ease-in-out">
		<li class="hover:text-cta-light before:triangle ">
			<a href="#">FR</a>
		</li>
		<li class="hover:text-cta-light">
			<a href="#">NL</a>
		</li>
		<li class="hover:text-cta-light">
			<a href="#">EN</a>
		</li>
	</ul>
</div>
