<nav class="ml-auto">
	<ul class="flex gap-4 list-none text-white">
		<li class="underlinePink text-decoration-none">
			<a href="#">Accueil</a>
		</li>
		<li class="underlinePink">
			<a href="#">Inspirations</a>
		</li>
		<li class="underlinePink">
			<a href="#">Agenda</a>
		</li>
		<li class="underlinePink relative group">
			<a href="#">S'organiser</a>
			<ul class="rounded-md absolute pb-3 bg-white text-caractere invisible group-hover:visible px-4 py-1 top-9 font-medium transition-all duration-500 ease-in-out">
				<li  class="fillPink before:triangle left-10 hover:text-cta-light">
					<a href="#">Découvrir</a>
				</li>
				<li class="fillPink">
					<a href="#">Savourer</a>
				</li>
				<li class="fillPink">
					<a href="#">Bouger</a>
				</li>
				<li class="fillPink">
					<a href="#">Séjourner</a>
				</li>
				<li class="fillPink">
					<a href="#">Mice</a>
				</li>
			</ul>
		</li>
		<li class="underlinePink">
			<a href="#">Pratique</a>
		</li>
	</ul>
</nav>
