<div class="h-[37rem]">
	<div class="relative h-full w-full bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">
		<img class="w-full h-full object-cover absolute mix-blend-overlay" src="https://visit.marche.be/wp-content/uploads/2022/05/DJI_0075-1-scaled-1.jpg" alt="img"/>
		<div class="flex flex-col justify-end items-start px-6 pb-6 absolute left-0 bottom-36">
			<a href="https://visit.marche.be/categorie/inspirations/" class="text-cta-light self-start">
				<i class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px d-md-inline"></i>
				Retour à Inspirations</a>
			<h2 class="text-white text-3xl">Inspirations</h2>
		</div>
		<div class="bg-party absolute bottom-0 left-0 h-28 w-full">
			<div class="flex pt-6 px-6 pb-28 lg:px-7 flex-wrap z-10 justify-end lg:justify-start mw-[1640px] mx-auto">
				<p class="text-white px-0" style="font-weight: 600;letter-spacing: 0.1rem; color:#808080FF !important;">
					tour circus
				</p>
			</div>
		</div>
	</div>
</div>
