<main id="primary" class="border-2 border-pink-500">

	{% include '@VisitTail/article/_head.html.twig' %}

	{% include '@VisitTail/article/_imageTop.html.twig' %}
	{% include '@VisitTail/article/_foot.html.twig' %}

</main>
<!-- #main -->
